body
{
    background-color:#feffc2;
}
section.picSection{
    margin-left: 20px;
    border:0px solid red;
    
}
aside.commentSection{
    float:right;
    margin-top:10px;
    width: 300px;
    border-left-width:10px;
    border-top-width:10px;
    background-color:black;
    color:white;
    position:absolute;
}
div.switchPage{
    float:right;
}
.showComment{
    margin:0;
    padding:0;
    height: 50px;
    width:200px;
    padding: 10px;
    background-color:yellow;
    color:black;
}
div.addComment{
    height:250px;
    margin:0;
    padding:0;
    color:aliceblue;
}
.center{
    text-align:center;
}
.mainPic{
    height:475px;
    width:900px;
    float:left;
}
div.slider{
    height: 150px;
    width: 1218px;
    border:2px dashed #bebebe;
    background-color:blue;
    padding-top:10px;
    overflow:hidden;
    float: left;
}
.prevGroup,.nextGroup{
    float: left;
    width:30px;
    height:150px;
    background-color: #bebebe;
    opacity: 0.3;
    line-height:150px;
    font-size:x-large;
    font-weight:bolder;
}

.prevNews,.nextNews{
    float: left;
    width:45px;
    height:475px;
    background-color: #bebebe;
    opacity: 0.3;
    line-height:475px;
    font-size:x-large;
    font-weight:bolder;
}
.nextGroup, .nextNews
{
    text-align: right;
}

img.abbrPic{
    width:150px;
    height:130px;
    margin:5px 7px;
    border:5px solid blue;
}
img.mainPic{
	height:475px;
	width:inherit;
}

div.newsTitle{
    font: bold 35px arial;
    position:absolute;
    z-index: 105;
    background-color:white;
    opacity:0.5;
    width:inherit;
}
div.newsTitle a{
    text-decoration:none;
    color:black;
}
div.divLine{
    padding:0;
    border:1px solid #76b3ed;
    margin:0;
    height:0px;
}
aside a{
    margin:2px;
    background-color:gray;
}
