section.picSection{
    margin-left: 30px;
    border:0px solid red;
}
aside.commentSection{
    float:right;
    margin-top:20px;
    width: 300px;
    border:10px solid black;
    background-color:black;
    color:white;
    display:block;
}
.showComment{
    height: 100px;
    padding: 10px;
    background-color:yellow;
    color:black;
}
.center{
    text-align:center;
    flex-align:center;
}
.mainPic{
    height:435px;
    width:600px;
    position:relative;
    top:0px;
    right:0px;
}
.abbrPics{
    height: 150px;
    border:2px dashed #bebebe;
    background-image:'../res/wave-bg.jpg';
}
.prevGroup{
    float: left;
    width:30px;
    height:150px;
    background-color: #bebebe;
    opacity: 0.3;
}
.nextGroup{
    float: right;
    width:30px;
    height:150px;
    background-color: #bebebe;
    opacity: 0.3;
}
.prevNews{
    float: left;
    width:30px;
    height:435px;
    background-color: #bebebe;
    opacity: 0.2;
}
.nextnews{
    float: right;
    width:30px;
    height:435px;
    background-color: #bebebe;
    opacity: 0.3;
}


img.abbrPic{
    width:150px;
    height:130px;
    padding:5px 10px;
    
}
img.mainPic{
	height:435px;
	width:inherit;

}

div.newsTitle{
    font: bold 35px arial;
    position:absolute;
    z-index: 105;
    background-color:#76b3ed;
    opacity:0.5;
    width:inherit;
}
div.newsTitle a{
    text-decoration:none;
    color:black;
}
