body
{
    background: black;
    background: url(../Ext/res/wlcs-1.jpg) no-repeat;
}
h1
{
    color: red;
}
a
{
    text-decoration:none;
}
a:active
{

}
a:hover
{
    background-color:gray;
    border:thick;
    border-image-source:none;
    border-style:dashed;
    border-color:white;
}
div.ico-name
{
    color: white;
    padding-left:10px;
    text-decoration:none;
    font-size:small;
    /*font-weight:bold;*/
}
#header
{
    top :0px;
    position:absolute;
    width:100%;
    height:61px;
    background:url(../Ext/res/codes.jpg);
}
#layout
{
    position:relative;
    left:120px;
    margin-top:70px;
    
    height:640px;
    width:1190px;
    
}
#body
{
    position:absolute;
    top : 20px;
    left : 45px;
    margin-top:10px;
    margin-left:15px;
    border-color:black;
    border-width:thick;
    height :500px;
    width:850px;
    background:url(../Ext/res/bluewin98.png) no-repeat;
}
#aside
{
    margin:30px 15px 5px 20px;
    border:5px solid #003366;
    padding:4px 7px 2px 4px;
    background-color:black;
    color:ivory;
    float:right;
    width:250px;
    text-overflow:ellipsis;
    opacity:0.7;
}
#footer
{
    color: gray;
    font: normal 12px ו;
    text-align: center;
}
div.clearfix:after
{
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}
div.clearfix
{
    zoom: 1;
}

img.ico
{
    width :50px;
    padding: 10px 10px 0px 20px;
    border-width: 0px;
}

img#DocFldMenu
{
    position: relative;
    top: -485px;
    left: 204px;
    width: 560px;
    height: 135px;
    display:none;
}
img#DocFldClose
{
    border-style: none;
    border-width: 0px;
    position: relative;
    top: -894px;
    left: 180px;
    display:none;
}
img#NetNbClose
{
    border-style: none;
    border-width: 0px;
    position: relative;
    top: -788px;
    left: 771px;
    z-index:101;
    display:none;
}
div.file
{
    border:dashed thin;
    border-color:gray;
    cursor: pointer;
}
iframe.folder
{
    position:relative;
    top: -488px;
    left: 204px;
    height:288px;
    width: 552px;   
    visibility:hidden;
}

div#StateCol
{
    position: relative;
    background-color: lightgray;
    top: -491px;
    left: 204px;
    width: 559px;
    display:none;
}
div#VerticalStick
{
    position:relative;
    top: -800px;
    left: 760px;
    height: 302px;
    width: 3px;
    color: lightgray;
    background-color: lightgray;
    display:none;
}